<div class="modal fade generic-modal" id="funcionarioModal" tabindex="-1" role="dialog"
  aria-labelledby="funcionarioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="card-header card-header-icon" data-background-color="parking">
        <i *ngIf="edit" class="material-icons">edit</i>
        <i *ngIf="!edit" class="material-icons">add</i>
      </div>
      <h5 class="modal-title">
        <strong *ngIf="edit">Editar Funcionario</strong>
        <strong *ngIf="!edit">Novo Funcionario</strong>
      </h5>

      <div class="modal-body">

        <form class="form-horizontal" #funcionarioForm="ngForm">

          <div class="row">

            <div class="col-sm-4">
              <mat-form-field>
                <input matInput #nameFuncionario [(ngModel)]="obj.name" placeholder="Nome" name="name" type="text"
                  maxlength="255" (ngModelChange)="setInputFormat(nameFuncionario)"
                  pattern="(^([A-ZÀ-ÖØ-Ÿ])+([A-Za-zÀ-ÖØ-öø-ÿ]?)+(\s[A-Za-zÀ-ÖØ-öø-ÿ]+)*$)" required>
              </mat-form-field>
            </div>

            <div class="col-sm-4">
              <mat-form-field>
                <input matInput #matriculaFuncionario [(ngModel)]="obj.matricula" placeholder="Matrícula"
                  name="matricula" type="text" maxlength="255" (ngModelChange)="setInputFormat(matriculaFuncionario)"
                  pattern="(^([A-ZÀ-ÖØ-Ÿ])+([A-Za-zÀ-ÖØ-öø-ÿ]?)+(\s[A-Za-zÀ-ÖØ-öø-ÿ]+)*$)" required>
              </mat-form-field>
            </div>

            <div class="col-sm-4">
              <mat-form-field>
                <mat-select [(ngModel)]="obj.funcao.id" placeholder="{{getHolderFuncao()}}" name="funcao" required>
                  <mat-option *ngFor="let funcao of funcoes" [value]="funcao.id">
                    {{ funcao.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row btn-space">
            <button (click)="clearForm(funcionarioForm)" type="button" class='btn btn-round  pull-left'>Limpar</button>

            <button (click)="updateOrCreate('#funcionarioModal')" type="submit"
              class='btn btn-finish btn-fill btn-round btn-parking pull-right'
              [disabled]="!funcionarioForm.form.valid">Salvar</button>

            <button (click)="closeModal()" class='btn btn-round  pull-right'>Voltar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>